<link rel="stylesheet" href="{{ url_for('static', filename='css/components/footer.css') }}" />

<footer>
  <div class="dev-container">
    <div class="dev-username">
      Developed By: mek0124
    </div>
  </div>

  <div class="link-container">
    <span class="link-text">
      visit the github repo
      <a href="https://github.com/mek0124" class="dev-link">
        here
      </a>
    </span>
  </div>

  <div class="version-release">
    <span class="version">
      {% if app.version %}
        v{{ app.version }}
      {% else %}
        v0.0.0
      {% endif %}
    </span>

    <span class="release">
      {% if app.release_date %}
        {{ app.release_date }}
      {% else %}
        01/01/0001
      {% endif %}
    </span>
  </div>
</footer>