<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}" />

<header>
  <div class="header-container">
    <div class="title-container">
      <img 
        src="{{ url_for('static', filename='images/icon.jpeg') }}" 
        alt="Weather Dashboard Icon" 
        width="40"
        height="40"
        class="app-icon"
      />

      <h1 class="title">
        Skyloom
      </h1>
    </div>
    
    <div class="user-container">
      {% if user %}
        <div class="user-title-container">
          <img 
            src="{{ url_for('static', filename='{{ user.icon }}') }}" 
            alt="User Icon Here"
            width="40"
            height="40"
            class="user-icon"
          />

          <h3 class="username">
            {{ user.username }}
          </h3>
        </div>
      {% endif %}
    </div>

    <div class="clock-container">
      <span class="clock-display" id="cTime"></span>
      <span class="clock-display" id="cDate"></span>
    </div>
  </div>

  {% include 'components/navbar.html' %}
  
  <script>
    let clockInterval;
    function updateClock() {
      const now = new Date();
      const userLocation = navigator.language;
      const timeOptions = {
        hour12: true,
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
      };
      const dateOptions = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        weekday: 'short'
      };
      const timeLabel = document.getElementById("cTime");
      const dateLabel = document.getElementById("cDate");
      timeLabel.textContent = now.toLocaleTimeString(userLocation, timeOptions);
      dateLabel.textContent = now.toLocaleDateString(userLocation, dateOptions);
    }
    function initClock() {
      updateClock();
      clockInterval = setInterval(updateClock, 1000);
    }
    function cleanupClock() {
      if (clockInterval) {
        clearInterval(clockInterval);
      };
    };
    document.addEventListener('DOMContentLoaded', initClock);
    window.addEventListener('beforeunload', cleanupClock);
  </script>
</header>