<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpeg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

    <title>Skyloom</title>
  </head>
  <body>
    {% include 'components/header.html' %}

    <main>
      {% if not user and not user.is_logged_in %}
        {% include 'components/welcome.html' %}
      {% elif user and user.is_logged_in %}
        {% include 'dashboard.html' %}
      {% endif %}
    </main>

    {% include 'components/footer.html' %}
  </body>
</html>