<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpeg') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

    <title>Skyloom - Login</title>
  </head>
  <body>
    {% include 'components/header.html' %}

    <div class="login-container">
      <div class="login-title-container">
        <h1 class="login-title">
          Login to Continue
        </h1>
      </div>

      <form action="" class="login-form">
        <div class="form-body">
          <div class="form-row">
            <label class="form-label" for="username">
              Username
            </label>

            <input class="form-input"  />
          </div>

          <div class="form-row">
            <label class="form-label" for="email">
              Password
            </label>

            <input class="form-input"  />
          </div>
        </div>

        <div class="form-buttons">
          <button
            type="button" 
            onclick="redirect('index')" 
            class="form-button"
          >
            Cancel
          </button>

          <button 
            type="submit" 
            class="form-button"
          >
            Login
          </button>
        </div>
      </form>
    </div>

    {% include 'components/footer.html' %}
  </body>
</html>