<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpeg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />

    <title>Skyloom - Registration</title>
  </head>
  <body>
    {% include 'components/header.html' %}

    <div class="register-container">
      <div class="register-title-container">
        <h1 class="register-title">
          Creating A New Account
        </h1>
      </div>

      <form action="" class="register-form">
        <div class="form-body">
          <div class="form-row">
            <label class="form-label" for="username">
              Create Username
            </label>

            <input class="form-input"  />
          </div>

          <div class="form-row">
            <label for="password" class="form-label">
              Create Password
            </label>

            <input type="password" class="form-input" />
          </div>

          <div class="form-row">
            <label for="confPassword" class="form-label">
              Confirm Password
            </label>

            <input type="password" class="form-input" />
          </div>

          <div class="form-row">
            <label class="form-label" for="email">
              Email Address
            </label>

            <input class="form-input"  />
          </div>

          <div class="form-row">
            <label class="form-label" for="street">
              Street Address
            </label>

            <input class="form-input"  />
          </div>

          <div class="form-row">
            <label class="form-label" for="city">
              City
            </label>

            <input class="form-input">
          </div>

          <div class="form-row">
            <label class="form-label" for="state">
              State/Province
            </label>

            <input class="form-input"  />
          </div>

          <div class="form-row">
            <label class="form-label" for="postal">
              Postal Code
            </label>

            <input class="form-input">
          </div>
          
          <div class="form-row">
            <label class="form-label" for="phone">
              Phone (optional)
            </label>

            <input class="form-input"  />
          </div>
        </div>

        <div class="form-buttons">
          <button
            type="button" 
            onclick="redirect('index')" 
            class="form-button"
          >
            Cancel
          </button>

          <button 
            type="submit" 
            class="form-button"
          >
            Register
          </button>
        </div>
      </form>
    </div>

    {% include 'components/footer.html' %}
  </body>
</html>