<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpeg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/support.css') }}" />

    <title>Skyloom - Support</title>
  </head>
  <body>
    {% include 'components/header.html' %}

    <main>
      Support has not been implemented at this time. Please check back later!
    </main>

    {% include 'components/footer.html' %}
  </body>
</html>