.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  margin-left: 2rem;
}

.card-body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 250px;
  border: 2px solid var(--accent);
  border-radius: 10px;
  background-color: var(--surface-light);
}

