footer,
.dev-container,
.link-container,
.version-release {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer {
  border-top: 1px solid var(--accent);
}

.dev-container,
.link-container,
.version-release {
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.version-release {
  flex-direction: row;
}

.dev-username,
.link-text,
.dev-link,
.version,
.release {
  font-size: 0.8rem;
  color: var(--text-primary);
  width: 100%;
  text-align: center;
}

.dev-link {
  text-decoration: none;
}

.dev-link:hover {
  text-decoration: underline;
}
