header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
}

header,
.header-container {
  border-bottom: 1px solid var(--accent);
}

.header-container,
.title-container,
.user-container,
.user-title-container,
.clock-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title-container,
.user-container,
.clock-container {
  gap: 1rem;
}

.user-title-container {
  flex-direction: row;
  width: 30%;
}

.clock-container {
  flex-direction: column;
  margin-right: 1rem;
  gap: 0;
}

.app-icon {
  border-radius: 9999px;
  margin-left: 0.5rem;
}

.title,
.username {
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: var(--text-primary);
  width: 100%;
}

.title {
  text-align: start;
  text-shadow: 2px 2px 5px #a9a9a9;
}

.username {
  font-size: 0.8rem;
  text-align: center;
}

.clock-display {
  font-size: 0.8rem;
  color: var(--text-primary);
  width: 100%;
  text-align: end;
}