.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 2em;
  gap: 2rem;
  padding-left: 1rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--text-primary);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} */

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  position: absolute;
  background-color: var(--surface);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px var(--accent);
  z-index: 1;
}

.nav-link,
.dropdown .dropbtn {
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: var(--text-primary);
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.nav-link:hover,
.dropdown:hover .dropbtn {
  font-size: 1.2rem;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.inner-nav-link {
  margin-left: 0.5rem;
}