.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.welcome-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.welcome-body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
}

.body-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 150px;
  border: 2px solid var(--accent);
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--surface-light);
}

.welcome-title,
.welcome-text {
  color: var(--text-primary);
}

.title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
}

.welcome-text {
  font-size: 1rem;
  width: 70%;
  text-align: center;
}